<div id="account-overview" v-cloak>
  <div class="container">
    <h1>Mon compte</h1>
    <hr/>
    <div class="row mb-3">
      <div class="col-sm-6">
        <h4>Informations personnelles</h4>
      </div>
      <div class="col-sm-6">
        <span class="float-sm-right">
          <a class="btn btn-sm btn-outline-info account-settings-button" href="/account/profile">Editer mon profil</a>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-3">Nom :</div>
      <div class="col">
        <strong>{{me.fullName}}</strong>
      </div>
    </div>
    <div class="row">
      <div class="col-3">E-mail:</div>
      <div class="col">
        <strong :class="[me.emailStatus === 'unconfirmed' || me.emailStatus === 'changeRequested' ? 'text-muted' : '']">{{me.emailChangeCandidate ? me.emailChangeCandidate : me.emailAddress}}</strong>
        <span v-if="me.emailStatus === 'unconfirmed' || me.emailStatus === 'changeRequested'" class="badge badge-pill badge-warning">Non-confirmé</span>
      </div>
    </div>
    <hr/>
    <div class="row mb-3">
      <div class="col-sm-6">
        <h4>Mot de passe</h4>
      </div>
      <div class="col-sm-6">
        <span class="float-sm-right">
          <a class="btn btn-sm btn-outline-info account-settings-button" href="/account/password">Modifier le mot de passe</a>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-3">Mot de passe:</div>
      <div class="col">
        <strong>••••••••••</strong>
      </div>
    </div>
    <hr/>
    <div class="row mb-3" v-if="isBillingEnabled">
      <div class="col-sm-6">
        <h4>Paiement</h4>
      </div>
      <div class="col-sm-6">
        <span class="float-sm-right">
          <ajax-button :syncing="syncingOpenCheckout || syncingUpdateCard" class="btn btn-sm btn-outline-info account-settings-button"
            @click="clickStripeCheckoutButton()">
            <span slot="syncing-state">
              <span v-if="syncingOpenCheckout">Connexion...</span>
              <span v-else>Mise à jour ...</span>
            </span>
            <span slot="default">{{ me.hasBillingCard ? 'Change card' : 'Add Card' }}</span>
          </ajax-button>
        </span>
      </div>
    </div>
    <div v-if="isBillingEnabled && me.hasBillingCard">
      <div class="row">
        <div class="col-3">Carte de paiement :</div>
        <div class="col">{{me.billingCardBrand}} se termine en
          <strong>{{me.billingCardLast4}}</strong>
          <a class="remove-button ml-2" @click="clickRemoveCardButton()">Supprimer</a>
        </div>
      </div>
      <div class="row">
        <div class="col-3">Date d'expiration:</div>
        <div class="col">{{me.billingCardExpMonth}}/{{me.billingCardExpYear}}</div>
      </div>
    </div>
    <div class="alert alert-danger" v-else-if="isBillingEnabled && cloudError">
      <small>Une erreur s'est déroulée pendant votre requête, veuillez réessayer ou
        <a href="/contact">contacter le support</a>
        si le problème persiste.</small>
    </div>
    <div class="alert alert-secondary" v-else-if="isBillingEnabled">
      Vous n'avez pas jout de source de paiement à votre compte. Afin de pouvoir accéder aux fonctionnalités de paiement, vous
      devez ajouter vos informations de crédit. (Ne vous inquiétez pas, votre argent est en sécurité dans nos poches).
    </div>
  </div>

  <% /* Confirm Remove Card Info Modal */ %>
    <modal v-if="removeCardModalVisible" @close="closeRemoveCardModal()" v-cloak>
      <div class="modal-header">
        <h5 class="modal-title">Supprimer les informations de ma carte ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span>&times;</span>
        </button>
      </div>
      <ajax-form action="updateBillingCard" :syncing.sync="syncingRemoveCard" :cloud-error.sync="cloudError" :handle-parsing="handleParsingRemoveCardForm"
        @submitted="submittedRemoveCardForm()">
        <div class="modal-body">
          <p>Êtes-vous sûr de vouloir supprimer la carte {{me.billingCardBrand}} se terminant par
            <strong>{{me.billingCardLast4}}</strong>?</p>
          <p class="text-muted">Cela pourrait restreindre vos capacités de paiement ...</p>
          <p class="text-danger" v-if="cloudError">
            <small>Une erreur s'est déroulée pendant votre requête, veuillez réessayer ou
              <a href="/contact">contacter le support</a>
              si le problème persiste.</small>
          </p>
        </div>
        <div class="modal-footer">
          <button data-dismiss="modal" class="btn btn-outline-secondary mr-1">Annuler</button>
          <ajax-button type="submit" :syncing="syncingRemoveCard" class="btn btn-danger ml-1">Supprimer</ajax-button>
        </div>
      </ajax-form>
    </modal>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>