<div id="404">
  <div class="container text-center">
    <h1 class="display-1 mb-3">404</h1>
    <hr/>
    <h2>La page recherchée n'existe pas !</h2>
    <div class="help">
      <p>Vous pensez qu'il s'agit-là d'une erreur ?
        <br/>
        <span class="mobile-spacer">&nbsp;</span>Veuillez bien
        <a href="/contact">nous le faire savoir.</a>
      </p>
    </div>
  </div>
</div>