<div id="confirmed-email" v-cloak>
  <div class="container">
    <h1 class="text-center">Email confirmé</h1>
    <div class="confirmation-message">
      <hr/>
      <p>Bravo ! Votre e-mail a été vérifié, vous avez désormais pleinement accès aux fonctionnalités de votre compte.</p>
      <p>
        <a class="btn btn-outline-info" href="/">Vers mon compte</a>
      </p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>