<div id="contact" v-cloak>
  <div class="container">
    <h1 class="text-center">Contactez-nous</h1>
    <div class="contact-form" v-if="!cloudSuccess">
      <p class="text-center">Une question ?  Un retour ?  A Shopimax, nous adorons discuter avec nos utilisateurs et sommes heureux de répondre à leurs questions
      Envoyez-nous une note aussi vite que possible.</p>
      <hr/>
      <ajax-form action="deliverContactFormMessage" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()" :handle-parsing="handleParsingForm">
        <div class="form-group">
          <label for="full-name">Nom</label>
          <input class="form-control" id="full-name" name="full-name" type="text"  :class="[formErrors.fullName ? 'is-invalid' : '']" v-model.trim="formData.fullName" placeholder="Bruce Wayne" autocomplete="name" focus-first>
          <div class="invalid-feedback" v-if="formErrors.fullName">Veuillez nous faire savoir comment vous appeler.</div>
        </div>
        <div class="form-group">
          <label for="email-address">Adresse e-mail :</label>
          <input class="form-control" id="email-address" name="email-address" type="email"  :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress" placeholder="batman@example.com" autocomplete="email">
          <div class="invalid-feedback" v-if="formErrors.emailAddress">Veuillez insérer une adresse e-mail valide.</div>
        </div>
        <div class="form-group">
          <label for="topic">Sujet</label>
          <input class="form-control" id="topic" name="topic" type="text"  :class="[formErrors.topic ? 'is-invalid' : '']" v-model.trim="formData.topic" placeholder="Question sur notre politique de paiement" autocomplete="none">
          <div class="invalid-feedback" v-if="formErrors.topic">Veuillez choisir un sujet à votre message.</div>
        </div>
        <div class="form-group">
          <label for="message">Message</label>
          <textarea class="form-control" id="message" name="message" :class="[formErrors.message ? 'is-invalid' : '']" v-model.trim="formData.message" placeholder="Y-a-t-il une vie après la mort ?" autocomplete="none"></textarea>
          <div class="invalid-feedback" v-if="formErrors.message">Le message ne peut $etre vide.</div>
        </div>
        <p class="text-danger" v-if="cloudError"><small>Une erreur s'est produite, merci de réessayer ou de
        <a href="/support">contacter le support</a> si l'erreur persiste.</small></p>
        <div class="form-group">
          <ajax-button type="submit" :syncing="syncing" class="btn btn-dark btn-lg btn-block">Envoyer</ajax-button>
        </div>
      </ajax-form>
    </div>
    <div class="success-message" v-if="cloudSuccess">
      <p class="text-center">Merci de nous avoir contacté !</p>
      <hr/>
      <p>Nous avons reçu votre message, et un membre de l'équipe vous répondra au plus vite !</p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
