#show {
    margin-top:65px;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    #product-pictures {
        display:flex;
        flex-flow: row nowrap;
        #picture-select-bar {
            margin-right:5px;
            margin-left:5px;
            .image-miniature {
                
                img {
                    border:1px solid black;
                    width:32px;
                    height:32px;
                    margin-top:15px;
                }
        }
        }
        #product-picture-frame img {
            border:1px solid black;
            width:320px;
            height:320px;
            margin-top:15px;
            margin-right:5px;
        }

    }
    #product-file {
        max-width:1000px;
        background-color:white;
        padding:25px;
        flex-shrink: 10;
        #product-name {
        
        }
        #product-brand {
        
        }
        #product-comments-summary {
        
        }
        #product-price {
        color:@color2;
        }
        #product-stock {
        color:rgb(28, 148, 112);
        font-size:1.3em;
        }
        #product-delivery {
        }
        #product-sender-seller {
        
        }
        #product-alt-offers {
        
        }
        #product-variations {
        
        }
        #product-details {
        
        }
    }
    #product-sell-frame {
        margin-top:15px;
        max-width:350px;
        #product-frame-price {
            color:@color2;
            .deliveryFee {
                font-size: 12px;
            color:@color4;
            margin-right:3px;
            margin-top:3px;
            }
        }
        #product-frame-stock {

        }
        #product-frame-sender-seller {

        }
        #product-frame-stock {

        }
        #addToBasket {

        }
        #list-offers {
            #list-offers-title {

            }
            .offer {

            }
        }
    }
}