.deliveryFee {
    color:@color4;
    font-size:0.8em;
    margin-left:3px;
}

.offer-addtoBasket {
    text-align:center;
    margin-top:10px;
}

#show {
    margin-top:65px;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color:@color3;
    height:100%;
    color:@color3;
    #product-pictures {
        display:flex;
        flex-flow: row nowrap;
        #picture-select-bar {
            margin-right:5px;
            margin-left:5px;
            .image-miniature {
                
                img {
                    border:1px solid black;
                    width:32px;
                    height:32px;
                    margin-top:15px;
                }
                &:hover {
                    cursor:pointer;
                    -moz-box-shadow: 1px 1px 5px 0.1px #e4ad65cb;
                    -webkit-box-shadow: 1px 1px 5px 0.1px #e4ad65cb;
                    -o-box-shadow: 1px 1px 5px 0.1px #e4ad65cb;
                    box-shadow: 1px 1px 5px 3px #e4ad65cb;
                }
        }
        }
        #product-picture-frame img {
            border:1px solid black;
            width:320px;
            height:320px;
            margin-top:15px;
            margin-right:5px;
        }

    }
    #product-file {
        max-width:1000px;
        background-color:white;
        margin-top:40px;
        padding:25px;
        flex-shrink: 10;
        height:100%;
        #product-name {
        
        }
        #product-brand {
        
        }
        #product-comments-summary {
        
        }
        #product-price {
        color:@color2;
        }
        #product-stock {
        color:rgb(28, 148, 112);
        font-size:1.3em;
        }
        #product-delivery {
            font-size:0.8em;
            color:@color4;
        }
        #product-sender-seller {
        
        }
        #product-alt-offers {
        
        }
        #product-variations {
        
        }
        #product-details {
            margin-top:20px;
            h2{
                font-size:1.1em;
            }
            .feature{
                font-weight:bold;
            }
        }
    }
    #product-sell-frame {
        margin-top:15px;
        margin-right:15px;
        max-width:350px;
        text-indent:5px;
        #main-offer {
            background-color:@color1;
            padding-bottom:10px;
            #product-frame-price {
                color:@color2;
                .deliveryFee {
                    font-size: 12px;
                color:@color4;
                margin-right:3px;
                margin-top:3px;
                }
            }
            #product-frame-stock {

            }
            #product-frame-sender-seller {

            }
            #product-frame-stock {

            }
            #addToBasket {
            }
        }   
        #list-offers {
            #list-offers-title {
                font-size:1.1em;
                color:@color2;
                text-align:center;
                margin:5px;
                padding:5px;
            }
            .offer {
                background-color:@color1;
                border-top: 1px solid rgba(128, 128, 128, 0.61);
                margin-top: 5px;
                padding-bottom:10px;
                .sellerName {
                    color: @color2;
                    font-size:1.3em;
                }
                .offerType {
                    .produit-neuf {
                        color: green;
                    }
                    .produit-recond {
                        color: rgb(46, 46, 139);
                    }
                    .produit-occasion {
                        color: brown;
                    }
                }
                .offerPrice {
                    color:@color2;
                    font-size:1.1em;
                }
                .remainingStock {
                    font-size:0.9em;
                }
            }
        }
    }
}